*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: bisque;
}
#container{
    height: 350px;
    width: 250px;
    border-radius: 25px;
    background-color: white;
    position:relative;
    overflow: hidden;
}
#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;

}
#container i{
    font-size: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transfrom ease 0.6s;
    
}