*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
}
.cursor{
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    transition: ease linear 0.5s;
    mix-blend-mode: difference;
}
h1{
    font-size: 8vw;
    font-weight: 300;
}