*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#profile{
    background-color: white;
    height: 450px;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;

}
#profile img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    object-position:center ;
    border-radius: 10px;
}
#profile h1{
    font-size: 25px;
    font-weight: 300px;
    margin: 15px 0;
}
h3{
    font-size: 20px;
    color: blue;
    margin: 20px;
}
#profile button{
    border: none;
    border-radius: 50px;
    background-color: cadetblue;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    margin: 5px;
}
/* #profile #remove{
    background-color: antiquewhite;
} */