*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}
#main{
    background-color: white;
    height: 500px;
    width: 300px;
    border-radius: 15px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;

}
#stories{
    height: 150px;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #dadada;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
   
}
#stories::-webkit-scrollbar{
    display: none;
}
.story{
    border: 3px solid #ee2a7b;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}
.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}
#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}