*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
}
.elem h1{
    font-size: 3vw;
    position: relative;
    mix-blend-mode: difference;
    z-index: 8;
}
.elem{
    height: 120px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.elem img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: fixed;
    opacity: 0;
    transition: all liner 0.4s;
}